<html>
    <head>
        <title>Profile</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        {% include "navigationBar.html" %}
        <div>
            <p>Username: {{username}}</p>
            <p>Email: {{email}}</p>
            <p>Status: {{Teacher}}</p>
            <div>
                <p>Class: </p>
                {% for i in Class %}
                    <li>{{i}}</li>
                {% endfor %}
            </div>
            
        </div>
    </body>
</html>