<head>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white">
    {% include "navigationBar.html" %}
    <section class="flex"> 
        <div class="m-4 shrink w-4/5 rounded border border-gray-300 backdrop-blur-xl bg-white/30 shadow-lg p-4 space-y-3 h-max"> <!--m-4 shrink w-4/5 rounded border border-gray-300 backdrop-blur-xl bg-white/30 shadow-lg p-4 space-y-3 h-max-->
            <p class="font-bold text-2xl">{{post.title}}</p> <!-- -->
            <div class="">
                </br>
                {{post.text|safe}}
                </br></br>
            </div>
            <p>Comments</p>
            <div class="bg-slate-100 min-w-fit min-h-fit p-2 rounded-md drop-shadow-md">
                <div class="grid grid-cols-1 items-start">
                    {% for comment in comments %}
                        <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl ">
                                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                    <span class="text-sm font-semibold text-gray-900 ">{{ comment[1] }}</span>
                                </div>
                                <p class="text-sm font-normal text-gray-900 ">{{ comment[2] }}</p>
                            </div>
                    {% endfor%}
                </div>
                    <form method="post">
                        <label for="chat" class="sr-only">Your message</label>
                        <div class="flex items-center pt-3 py-2 rounded-lg bg-gray-200">
                            <textarea id="chat" name="comment-text" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Your message..."></textarea>
                            <button type="submit" name="comment" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100">
                                <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                    <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
                                </svg>
                                <span class="sr-only">Send message</span>
                            </button>
                        </div>
                    </form>
            </div>
        </div>
        <div>
        <div class="m-4 shrink rounded grid grid-cols-1 border border-gray-300 backdrop-blur-xl bg-white/30 shadow-lg p-4 space-y-2">
            <p>Files</p>
            {% for i in Urls%}
                <a href="{{i[1]}}" target="_blank" class="block w-full h-8 p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 truncate">
                    <p class="font-normal text-xs text-gray-700">{{i[0]}}</p>
                </a>
            {% endfor %}
            <p>Meets</p>
            {% if post.meet_id != 0 %}
            <div class="bg-slate-200 min-w-fit min-h-fit p-2 rounded-md drop-shadow-md">
                    <a href="{{ '/classroom/%s/meeting' %post.id}}">Join Meeting</a>
            </div>
            {% endif %}
        </div>

        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>