<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <script src="https://cdn.tailwindcss.com"></script>
        {{ ckeditor.load() }}
    </head>
    <body>
        {% include "navigationBar.html" %}
        <div>
            <form method="post">
                <input type="text" name="title" class="h-8 text-xl"/>
                {{ ckeditor.create() }}
                <input type="submit" class="text-black-100 hover:bg-sky-700">
            </form>
        </div>
        <div class="grid gap-2">
            {% for i in Class %}
                <div class="bg-slate-700  max-w-fit max-h-fit p-2 rounded-md text-[#F5F5F5]">
                    <p>{{Class[i]['title']}}</p>
                    <p>{{Class[i]['text']|safe}}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>